*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./ImgProj1/Imagem_Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header{
    font-size: 30px;
    padding: 30px;
}

header ul{
    list-style-type: none;
    display: flex;
    color: #272727;
}

header ul li{
    background-color: #ffc600;
    padding: 1px 60px;
    margin-top: 20px;
}

header a{
    text-decoration: none;
    color: #272727;
}


.menu ul li{
    margin-right: auto;
    margin-left: auto;
}


main{
    padding: 35px;
}

.conteiner{
    display: flex;
}

.ulustracao{
    height: 350px;
    width: 900px;
    margin-right: 20px;
    background-image: url(./ImgProj1/ilustracao2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.ulustracao h2, p{
    font-size: 30px;
    color: #272727;
}

.titulo1 h2{
    margin-top: 10%;
    margin-bottom: 10px;
    background-color: #ffc600;
    width: 100px;
    padding: 5px;
    margin-left: 30px;

}

.legend p{
    background-color: #ffc600;
    width: 100px;
    padding: 5px;
    margin-left: 30px;
}    

.precos{
    display: inline-block;
}

.precoTaco{
    height: 180px;
    width: 360px;
    background-color: #ffc600;
}

.descricao h1{
    text-align: center;
    padding-top: 50px;
    color: #272727;
    font-size: 25pt;

}


.descricao p{
    text-align: center;
}

.precosug{
    height: 180px;
    width: 360px;
    background-color: #ffc600;
}

.descricao2 h1{
    text-align: center;
    margin-top: 40px;
    padding-top: 50px;
    color: #272727;
    font-size: 25pt;
}


.descricao2 p{
    text-align: center;
}

.conteiner2{
    display: flex;
    grid-gap: 20px;

}

.conteiner2 section{
    width: 300px;
    height: 170px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.taco img{
    max-width: 80px;
}

.imgTaco{
    text-align: center;
}

.imgTaco figcaption{
    font-weight: bold;
}

.taco p{
    font-size: 13px;
    text-align: center;
}

.bebida img{
    max-width: 80px;
}

.imgBebida{
    text-align: center;
}

.imgBebida figcaption{
    font-weight: bold;
}

.bebida p{
    font-size: 13px;
    text-align: center;
}

.vinhos img{
    max-width: 80px;
}

.imgVinho{
    text-align: center;
}

.imgVinho figcaption{
    font-weight: bold;
}

.vinhos p{
    font-size: 13px;
    text-align: center;

}

.musica img{
    max-width: 80px;
}

.imgMusica{
    text-align: center;
}

.imgMusica figcaption{
    font-weight: bold;
}

.musica p{
    font-size: 13px;
    text-align: center;

}


.ap2{
    background-color: white;
    display: flex;
    margin-top: 20px;
    height: 400px;
}

.imgTaco2{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.imgTaco2 img{
    width: 400px;
    margin-left: 25px;
}

.descTaco2{
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.descTaco2 h4, p{
    color: #272727;
    margin: 0;
}

.tituloDesc h4{
    font-size: 25pt;
}

.textoDesc p{
    font-size: 15pt;
    margin-top: 15px;
}

