* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./ImgProj1/Imagem_Fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

header {
    font-size: 30px;
    color: #272727;
    padding: 35px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.menu button{
    background-color: #ffc600;
    color: #272727;
    padding: 20px;
    font-size: 25px;
}

main {
    padding: 35px;
}

.conteiner {
    display: flex;
    height: 400px;
}

#subconteiner{
    flex-grow: 2;
    display: grid;
    margin-right: 10px;
}

.ulustracao {
    background-image: url(./ImgProj1/_d18c9f9f-3897-4a50-85e6-104605c29384.jfif);
    background-position: center;
}

.ulustracao h2, p {
    font-size: 30px;
    color: #272727;
}

.titulo1 h2 {
    margin-top: 10%;
    margin-bottom: 10px;
    background-color: #ffc600;
    width: 100px;
    padding: 5px;
    margin-left: 30px;

}

.legend p {
    background-color: #ffc600;
    width: 100px;
    padding: 5px;
    margin-left: 30px;
}

#subconteiner2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.precoTaco {
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.descricao h1 {
    color: #272727;
    font-size: 25pt;
}

.descricao p {
    text-align: center;
}

.precosug {
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.descricao2 h1 {
    color: #272727;
    font-size: 25pt;
}

.descricao2 p {
    text-align: center;
}

.conteiner2 {
    display: flex;
    grid-gap: 20px;
}

.conteiner2 section {
    width: 300px;
    height: 170px;
    background-color: white;
    margin-top: 20px;
}

.conteiner2 p{
    font-size: 13px;
    text-align: center;
}

.conteiner2 img {
    max-width: 80px;
}

.imgTaco, .imgBebida, .imgVinho, .imgMusica{
    text-align: center;
    font-weight: bold;
}

.ap2 {
    background-color: white;
    display: flex;
    margin-top: 20px;
    height: 400px;
}

.imgTaco2 {
    flex-grow: 1;
    background-image: url(./ImgProj1/_97d559d6-3027-4e38-ab5d-3284f4aeaa48.jfif);
    width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;

}

.descTaco2 {
    width: 300px;
    flex-grow: 1;
    text-align: center;
    padding-top: 5%;
}

.descTaco2 h4, p {
    color: #272727;
}

.tituloDesc h4 {
    font-size: 25pt;
}

.textoDesc p {
    font-size: 15pt;
    margin-top: 15px;
}

#pedido{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pedido a{
    color: azure;
    border-radius: 10px;
    text-decoration: none;
    font-size: 23px;
    height: 10%;
    padding: 10px;
    text-align: center;
    background-color: #272727;

}